mixin screencast-description(data)

    +b.screencast-description
        +e.__body
            p Git – одна из самых популярных систем для хранения кода и не только.
            p Многие начинающие разработчики избегают его изучения, а зря. В итоге на решение проблем и непоняток с гит тратится гораздо больше времени, чем если просто один раз "раскурить" этот самый гит.
            p Стоит один раз разобраться, и работа с git станет комфортной, а проблемы и непонятки с состоянием репозитория уйдут в прошлое.
            p В этом скринкасте разобраны темы, покрывающие 90% необходимых ситуаций (а по некоторым областям даже больше). Но есть ряд тем, которые в него пока не вошли:
            p Git – одна из самых популярных систем для хранения кода и не только.
            p Многие начинающие разработчики избегают его изучения, а зря. В итоге на решение проблем и непоняток с гит тратится гораздо больше времени, чем если просто один раз "раскурить" этот самый гит.
            p Стоит один раз разобраться, и работа с git станет комфортной, а проблемы и непонятки с состоянием репозитория уйдут в прошлое.
            p В этом скринкасте разобраны темы, покрывающие 90% необходимых ситуаций (а по некоторым областям даже больше). Но есть ряд тем, которые в него пока не вошли: