+e.__body
  p Git - one of the most popular version control systems.
  p Many begginner developers avoid studying it thought they shouldn't be. As a result they waste a lot of time on solving problems with Git instead of spending it once for learning it.
  p Once you figure out how it works your experience with git would be more comfortable and all problems with repository state would become a thing of the past.
  p This screencast features themes covering 90% of everyday situations (even more for some areas).
