@font-face
  font-family 'Apercu Pro'
  src url(ApercuPro-Regular.otf) format("opentype");
  font-weight normal
  font-style normal

@font-face
  font-family 'Apercu Pro'
  src url(ApercuPro-Bold.otf) format("opentype");
  font-weight bold
  font-style normal
