include /blocks/share-buttons/index

mixin screencast-tabs(data)

    +b.screencast-tabs
        +e.__container
            +e.__tab.__tab--active Описание
            +e('a').__tab(href="#") Комментарии
            +e('a').__tab(href="#") Подписаться на обновления
        +share-buttons()