include /blocks/share-buttons/index

mixin screencast-tabs(data)

  +b.screencast-tabs
    +e.__container
      +e.__tab._playlist(data-id='playlist')= t('playlist')
      +e('a').__tab._description.active(data-id='description')= t('description')
      +e('a').__tab(data-id='comments')= t('comments')
    +share-buttons()
