//- header + footer + empty body
extends ./base

block html
  head
    block variables
    include ../blocks/head
    block head
    !=js("footer", {defer: true})

  body
    script head.fontTest();

      block body

