.screnncast-subscribe
  +size-tablet-portrait-down()
    display none

  form
    margin space-stack-m

  &__heading
    margin space-stack-s
    font-helper(16, 24, font-sans-serif, bold)

  input[type="text"]
    padding space-inset-squish = 8px 8px 8px 8px
    font-helper(14, 20, font-sans-serif, normal)
    border-radius 3px
    border 1px solid color-grey-80
    margin-right space-xs
    min-width 220px
