
extends /layouts/body

include /blocks/playlist/index
include /blocks/screencast-meta/index
include /blocks/video-player/index
include /blocks/screencast-header/index

block main
  +b.page.working-hover
    +e(main).__main
      +e.__main-inner
        +screencast-header({languages})
        +video-player()
        +screencast-meta()

    +e(aside).__nav
      +playlist({sections})


