.screencast-header

  &_style_angular
    background linear-gradient(125.41deg, #1545A2 -29.99%, #3288E8 100%);
    padding-top 80px
    padding-bottom 20px

  &_style_angular &__bottom
    font-size 20px
    text-align center
    color #fff

  &_style_angular &__title
    margin-bottom 8px

  &_style_angular &__note
    color white
    opacity 0.7
    margin 24px auto 0
    max-width 800px

  &_style_angular &__title-accent
    color #52D3FA
    padding-left 222px
    background url("angular.svg") 10px center no-repeat

  &_style_angular .share-icons
    margin-top 45px

  &_style_angular .share-icons__title
    color white

  &_style_angular &__button .simple-button__text
    color #52D3FA

  &_style_angular .share-icons .share
    color #F2B8B7

  &_style_angular .share-icons .share:hover
    color hoverize(#F2B8B7)

  &_style_angular &__foot
    color #ffffff

  &_style_angular &__tag
    position absolute
    top 27px
    right -60px

    margin 0
    padding 10px 60px

    color #1E2937 !important
    background #F9AB34
    text-decoration none !important

    transform rotate(45deg)

  &_style_angular:after
    background url("arrow-react.svg")
    position static
    display block
    width 31px
    height 31px
    margin: 30px auto 0 auto;
    opacity: 0.5;
    content: "";
