.screencast-header

  &_style_git
    background #F0F0E8 url("screencast-header_style_git.svg") 50% 50% no-repeat;
    background-size cover
    padding 50px 50px 20px 50px
    color #2F2606

  &_style_git &__bottom
    font-size 20px
    margin 30px 0
    text-align center

  &_style_git &__title
    margin-bottom 8px

  &_style_git &__note
    opacity 0.7
    margin 24px auto 0
    max-width 800px

  &_style_git &__title-accent
    color #52D3FA
    padding-left 222px
    background url("git.svg") 10px center no-repeat

  &_style_git .share-icons
    margin 20px

  &_style_git .share-icons__title
    color #2F2606

  &_style_git &__button .simple-button__text
    color #52D3FA

  &_style_git .share-icons .share
    color #A7742E

  &_style_git .share-icons .share:hover
    color hoverize(#A7742E)

  &_style_git &__foot
    color #ffffff

  &_style_git &__tag
    position absolute
    top 27px
    right -60px

    margin 0
    padding 10px 60px

    color #1E2937 !important
    background #F9AB34
    text-decoration none !important

    transform rotate(45deg)
