+b.screencast-tabmodules
  +e.module._playlist(data-id='playlist')

  +e.module._description.active(data-id='description')
    +screencast-description()
  +e.module(data-id='comments')
    +screencast-comments()
