size-phone-only()
  @media screen and (max-width: 599px)
    {block}

size-tablet-portrait-down()
  @media screen and (max-width: 899px)
    {block}

size-tablet-landscape-down()
  @media screen and (max-width: 1199px)
    {block}

size-desktop-down()
  @media screen and (max-width: 1799px)
    {block}

size-big-desktop-up()
  @media screen and (min-width: 1800px)
    {block}
