.video-panel 
    padding space-inset-default
    border 1px solid color-grey-90
    border-top none
    border-radius 2px
    width 100%
    display flex
    flex-wrap nowrap
    justify-content space-between
    align-items stretch

    &__video-id
        flex-grow 0
        min-width 24px
        color color-red-accent
        margin-right space-m
        margin-top space-xs

    &__video-name
        flex-grow 1
        margin-top space-xs

    
    &__video-controls
        flex-grow 0

