.screencast-header
  position relative
  overflow hidden

  padding 50px
  margin-bottom 32px

  text-align center
  line-height initial


  color #fff

  &__title
    font-size 60px
    font-weight normal

  &__title-accent
    font-weight bold

  &__description
    font-size 20px

  &__buttons
    margin-top 10px

  &__button
    display inline-block

    margin 20px 10px 0 10px

  &__button .simple-button
    min-width 220px

  &__info,
  & .share-icons__title,
  & .donate-links__title
    font-size 12px

  &__info
    margin-top 20px

  & .share-icons__title
    vertical-align middle
    margin-right 20px

  & .share-icons .share
    transition unquote('color') 0.2s

  & .share-icons,
  & .donate-links
    display inline-block
    margin-right 10px


  &__foot
    font-size 17px

    margin-top 30px

  &:after
    position absolute

    width 31px
    height 31px
    margin-left -15px

    opacity 0.5

    content: ""
