.share-buttons
    display flex
    padding space-inset-stretch

    +size-tablet-portrait-down()
        display none

    &__button
        width 24px
        height 24px
        margin 0 space-xxs
    
    .tw
        background url(ico_tw.png) no-repeat

    .fb
        background url(ico_fb.png) no-repeat

    .vk
        background url(ico_vk.png) no-repeat
        