.share-buttons
    display flex
    padding space-inset-stretch

    +size-tablet-portrait-down()
        display none

    &__button
        width 24px
        height 24px
        margin 0 space-xxs

        &:hover .nc-icon-wrapper
            fill color-grey-60
    
    .nc-icon-wrapper
        fill color-grey-80