.screencast-heading
    font-helper(16, 24, font-sans-serif, bold)
    text-transform uppercase
    letter-spacing 3px

    &__separator
        color color-red-accent
        font-helper(20, 24, font-sans-serif, bold)
        margin 0 4px