.video-controls
  display flex
  align-items center

  &__btn
    width 32px
    height 32px
    cursor pointer
    fill color-grey-25

    & svg
      width 100%
      height 100%

    &:hover svg
      fill color-red-accent

  .pause
    display none
    fill color-red-accent


