mixin video-controls(data)

  +b.video-controls
    +e.__btn.prev
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g class="nc-icon-wrapper">
          <path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/>
        </g>
      </svg>

    +e.__btn.pause
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <g class="nc-icon-wrapper">
      <path d="M17.5775 22.385V9.61502H20.8075V22.385H17.5775ZM16 28.8451C19.5055 28.8451 22.5227 27.5806 25.0516 25.0516C27.5806 22.5227 28.8451 19.5055 28.8451 16C28.8451 12.4945 27.5806 9.47731 25.0516 6.94836C22.5227 4.4194 19.5055 3.15493 16 3.15493C12.4945 3.15493 9.47731 4.4194 6.94836 6.94836C4.41941 9.47731 3.15493 12.4945 3.15493 16C3.15493 19.5055 4.41941 22.5227 6.94836 25.0516C9.47731 27.5806 12.4945 28.8451 16 28.8451ZM16 -3.20501e-07C20.4069 -3.20501e-07 24.1753 1.56495 27.3052 4.69484C30.4351 7.82473 32 11.5931 32 16C32 20.4069 30.4351 24.1753 27.3052 27.3052C24.1753 30.4351 20.4069 32 16 32C11.5931 32 7.82473 30.4351 4.69484 27.3052C1.56495 24.1753 1.48474e-08 20.4069 1.48474e-08 16C1.48474e-08 11.5931 1.56495 7.82473 4.69484 4.69484C7.82473 1.56495 11.5931 -3.20501e-07 16 -3.20501e-07ZM11.1925 22.385V9.61502H14.4225V22.385H11.1925Z" />
        </g>
      </svg>

    +e.__btn.play
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <g class="nc-icon-wrapper">
          <path d="m16 28.845c3.5055 0 6.5227-1.2645 9.0516-3.7935 2.529-2.5289 3.7935-5.5461 3.7935-9.0516s-1.2645-6.5227-3.7935-9.0516c-2.5289-2.529-5.5461-3.7934-9.0516-3.7934s-6.5227 1.2645-9.0516 3.7934c-2.529 2.529-3.7934 5.5461-3.7934 9.0516s1.2645 6.5227 3.7934 9.0516c2.529 2.529 5.5461 3.7935 9.0516 3.7935zm0-28.845c4.4069 0 8.1753 1.565 11.305 4.6948s4.6948 6.8983 4.6948 11.305-1.5649 8.1753-4.6948 11.305-6.8983 4.6948-11.305 4.6948-8.1753-1.5649-11.305-4.6948-4.6948-6.8983-4.6948-11.305 1.565-8.1753 4.6948-11.305 6.8983-4.6948 11.305-4.6948z"/>
          <path d="m12 22v-12l10 6-10 6z"/>
        </g>
      </svg>

    +e.__btn.next
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g class="nc-icon-wrapper">
          <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/>
        </g>
      </svg>
