.video-controls
    display flex

    &__btn
        width 32px
        height 32px
        cursor pointer

    .next
        background url(ico_next.png) no-repeat

    .prev
        background url(ico_prev.png) no-repeat

    .pause
        background url(ico_pause.png) no-repeat