mixin video-controls(data)

    +b.video-controls
        +e.__btn.prev
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g class="nc-icon-wrapper">
                    <path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/>
                </g>
            </svg>

        +e.__btn.pause
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g class="nc-icon-wrapper">
                    <path d="M9 16h2V8H9v8zm3-14C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V8h-2v8z"/>
                </g>
            </svg>

        +e.__btn.next
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g class="nc-icon-wrapper">
                    <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/>
                </g>
            </svg>        