.playlist
    max-width layout-sidebar-max-width
    padding space-inset-default

.playlist-section
    margin space-stack-l

    .playlist-section__title
        padding space-inset-squish
        text-transform uppercase
        font-helper(16, 24, font-sans-serif, bold)
        letter-spacing 3px
