include /blocks/playlist-item/index

mixin playlist(data)
  - let {sections} = data;

  +b.playlist
    each section in sections
      +b(class="playlist-section " + section.slug)
        +e.__title
          = section.title

        +e.__videos
          each video in section.videos
            +playlist-item({video})
