.playlist
  max-width layout-sidebar-max-width
  padding space-inset-default

  +size-tablet-portrait-down()
    padding 0
    max-width 100%

.playlist-section
  margin space-stack-l

  +size-tablet-portrait-down()
    margin space-stack-s

  &__title
    padding 12px 24px 12px 64px
    text-transform uppercase
    font-helper(16, 24, font-sans-serif, bold)
    letter-spacing 3px

    +size-tablet-portrait-down()
      font-helper(14, 20, font-sans-serif, bold)
      letter-spacing 2px
      padding 4px 0 4px 32px // custom padding for this specific element to align text visually
      margin space-stack-xs
