.playlist-item
    padding space-inset-default
    display flex
    flex-wrap nowrap
    justify-content space-between
    align-items stretch
    width 100%

    +size-tablet-portrait-down()
        font-helper(14, 20, font-sans-serif, normal)
        padding space-inset-s

    &:hover
        cursor pointer

    &__id
        color color-grey-80
        width 40px
        flex 0 0 40px

        ^[0]:hover &
            color color-red-accent
        
        +size-tablet-portrait-down()
            width 32px
            flex 0 0 32px
    
    &__name
        width 100%

        ^[0]:hover &
            color color-red-accent

    &__duration
        color color-grey-80
        width 60px
        flex 0 0 60px
        text-align right