.playlist-item
    padding space-inset-default
    display flex
    flex-wrap nowrap
    justify-content space-around
    align-items stretch
    width 100%

    &__id
        color color-grey-80
        width 40px
        flex 0 0 40px
    
    &__name
        width 100%

    &__duration
        color color-grey-80
        width 60px
        flex 0 0 60px
        text-align right