include /blocks/language-selector/index
include /blocks/screencast-heading/index

mixin screencast-header(data)
  - let {languages} = data;
  
  +b.screencast-header
    +screencast-heading()
    +language-selector({languages})