.page 
    height 100vh
    display flex    
    flex-direction row

.page__main
    order 1
    flex 5
    overflow-y auto
    display flex
    justify-content flex-end

    .page__main-inner
        width 100%
        max-width layout-content-max-width
        padding 32px 56px

.page__nav
    order 2
    flex 3
    overflow-y auto
    border-left 1px solid color-grey-90