.page 
    height 100vh
    display flex    
    flex-direction row

.page__main
    order 1
    flex 2
    overflow-y scroll
    display flex
    justify-content flex-end
    &::-webkit-scrollbar
        width: 12px

    &::-webkit-scrollbar-track
        display: none


    .page__main-inner
        width 100%
        max-width layout-content-max-width
        padding 32px 56px

.page__nav
    order 2
    flex 1
    overflow-y scroll
    border-left 1px solid color-grey-90