.button
  font-helper(14, 20, font-sans-serif, normal)
  display inline-block
  white-space nowrap
  position relative
  padding 8px 16px 8px 16px
  border-radius 3px
  border 1px solid color-grey-60
  cursor pointer

  &::-moz-focus-inner
    border 0

  &:hover
    text-decoration none
    border-color darken(color-grey-60, 20%)

  &:disabled
    pointer-events none
    opacity 0.5


  &_primary
    background color-red-accent
    color color-white
    border 1px solid color-red-accent

    &:hover
      text-decoration none
      border-color darken(color-red-accent, 20%)
      background darken(color-red-accent, 20%)
